*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* border: 1px solid grey; */
}

/* -------------------UTILITIES-------------------- */

.padded{ padding:5%;}
.padded-1{ padding:1rem;}
.padded-2{ padding:2rem;}
.marginbottom{margin-bottom:10%;}
.marginbottom1 {margin-bottom: 1rem;}

.left{text-align: left;}
.right{text-align: right;}
.centered{text-align: center;}

.bg-color{background-color: grey;}

.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}

.line-height{ line-height: 2px;}

h1{ font-size: 2.5rem;}
h2{font-size:2rem;}
h3{font-size:1.5rem;}
h4{
  font-size:1rem;
}
h5{
  font-size: 0.9rem;
  font-family: 'Allura', cursive;
}

img {
  max-width: 100%;
}

header{
  position: fixed;
  left:0;
  right:0;
  top:0;
}
header, footer{
  background-color: white;
  color:teal;
}
.hamburger{
  font-size: 2rem;
  color: teal;
}
body{
  padding-top: 10rem;
  color: grey;
  font-family: 'Nunito', sans-serif;
}
 a{
  text-decoration: none;
  color: teal;
}
.banner{
  background-image:url(images/banner.jpg);
  min-height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
  background-position: top;
}
.banner-destination{
  margin:4rem;
  background-attachment: scroll;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.city{
  position:absolute;
  top:-1rem;
  right:1rem;
}
.fas{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.gallery{
  max-height: 50%;
}
.masonry{
  column-count: 3;
  column-gap:1rem;
}
