*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* border: 1px solid grey; */
}

/* -------------------UTILITIES-------------------- */

.padded{ padding:5%;}
.padded-1{ padding:1rem;}
.padded-2{ padding:2rem;}
.marginbottom{margin-bottom:10%;}

.left{text-align: left;}
.right{text-align: right;}
.centered{text-align: center;}

.bg-color{background-color: grey;}

.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}

.line-height{ line-height: 2px;}

h1{ font-size: 2.5rem;}
h2{font-size:2rem;}
h3{font-size:1.5rem;}
h4{font-size:1rem;}

header{
  position: fixed;
  left:0;
  right:0;
  top:0;
}
header, footer{
  background-color: grey;
  color:white;
}
body{
  padding-top: 10rem;
}
 a{
  text-decoration: none;
}
