<!DOCTYPE html>
<html>

<!----------------------------HEAD---------------------------->

<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link href="https://fonts.googleapis.com/css?family=Allura|Nunito:300,400,600,700&display=swap" rel="stylesheet">


</head>
<!----------------------------TITLE--------------------------->
<title>
  {{page.title}}
</title>
<!------------------------------BODY-------------------------->

<body>
  <!-------------------------- HEADER -------------------------->
  <header class=" centered">
    <a href="/index.html">
      <h1>
        LOGO
      </h1>
    </a>
    <!----------------------------NAV LINKS----------------------->
    <div class="hamburger"> |||| </div>
    <nav class="mobile-nav centered padded-1">
      <a href="/about"> About </a>
      <a href="/destinations"> Destinations </a>
      <a href="/review"> Reviews </a>
      <a href="/contact"> Contact </a>
    </nav>
  </header>


  {{content}}



  <!-------------------------- FOOTER -------------------------->
  <footer class="grid padded">
    <a href="/index.html">
      <div class="col-3">
        <h2> LOGO </h2>
    </a>
    <p> this is the footer </p>
    </div>
    <div class="col-3">
    </div>
    <div class="col-2">
        <h3>
          Explore
        </h3>
      <p>
        Munnar
      </p>
      <p>
        Manali
      </p>
      <p>
        Goa
      </p>
    </div>
    <div class="col-2">
      <h3>
          Contact
      </h3>
      <p>
        ......
      </p>
    </div>
    <div class="col-2">
      <h3>
        Connect
      </h3>
      <nav class="socials">
        <a href=#>
          <i class="fab fa-facebook-square"> </i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"> </i>
        </a>
        <a href="#">
          <i class="fab fa-youtube"> </i>
        </a>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
  <script src="/scripts/main.js"> </script>

</body>

</html>
