<!DOCTYPE html>
<html>

<!----------------------------HEAD---------------------------->
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

</head>
<!----------------------------TITLE--------------------------->
<title>
  {{page.title}}
</title>
<!------------------------------BODY-------------------------->
<body>
<!-------------------------- HEADER -------------------------->
  <header class=" centered">
    <h1>
      LOGO
    </h1>
<!----------------------------NAV LINKS----------------------->
    <nav class="centered padded">
      <a href="#"> About us</a>
      <a href="#"> Destinations </a>
      <a href="#"> Reviews </a>
      <a href="#"> Contact </a>
    </nav>
  </header>



 {{content}}



<!-------------------------- FOOTER -------------------------->
<footer class="grid">
  <div class="col-3">
    <h2> LOGO </h2>
    <p> this is the footer </p>
  </div>
  <div class="col-3"> </div>
  <div class="col-2">
    <h3>
      Explore
    </h3>
    <p>
      ......
    </p>
  </div>
  <div class="col-2">
    <h3>
      Contact
    </h3>
    <p>
      ......
    </p>
  </div>
  <div class="col-2">
    <h3>
      Connect
    </h3>
    <nav>
      <i  class>
  </div>
  </body>
</html>
