<!DOCTYPE html>
<html>

<!----------------------------HEAD---------------------------->
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

</head>
<!----------------------------TITLE--------------------------->
<title>
  Title of the page.
</title>
<!------------------------------BODY-------------------------->
<body>
<!-------------------------- HEADER -------------------------->
  <header class=" centered">
    <h1>
      LOGO
    </h1>
<!----------------------------NAV LINKS----------------------->
    <nav class="centered padded">
      <a href="#"> LINK </a>
      <a href="#"> LINK </a>
      <a href="#"> LINK </a>
      <a href="#"> LINK </a>
    </nav>
  </header>
<!-------------------------- FOOTER -------------------------->
<footer class="grid">
  <div class="col-3">
    <h2> LOGO </h2>
    <p> this is the footer </p>
  </div>
  <div class="col-1"> </div>
  <div class="col-3">
    <h3>
      Explore
    </h3>
    <p>
      ......
    </p>
  </div>
  <div class="col-3">
    <h3>
      Contact
    </h3>
    <p>
      ......
    </p>
  </div>
  <div class="col-3">
    <h3>
      Connect
    </h3>
    <nav>
      <i  class>
  </div>
